// _calendar.sass

.calendar-container
  width: 300px

.clndr-controls
  +clearfix

.clndr-button, .month
  float: left
  text-align: center

.clndr-button
  width: 15%

.month
  width: 70%

.days-of-the-week
  +clearfix

.header-day, .day
  float: left
  width: 14.28%
  text-align: center
