// _calendar.sass

.calendar-container
  float: left
  width: 300px

.clndr
  border: 1px solid $borderColor

.clndr-controls
  padding: 10px

.clndr-controls
  background: $white
  color: $defaultFontColor
  +clearfix

.clndr-grid
  padding: 30px 10px

.clndr-next-button, .clndr-previous-button, .month
  float: left
  text-align: center

.clndr-next-button, .clndr-previous-button
  cursor: pointer
  width: 15%

.month
  width: 70%

.days-of-the-week
  +clearfix

.header-day, .day
  float: left
  width: 14.28%
  text-align: center

.day
  position: relative
  height: 40px
  padding: 9px 5px 5px

  &.event::before
    content: ""
    position: absolute
    bottom: 6px
    left: 50%
    display: block
    background: $white
    border-radius: 50%
    +size(4px)
    +transform(translateX(-50%))

  &.adjacent-month
    opacity: .6

.today
  background: $white
  color: $primary
  border-radius: 50%

  &.event::before
    content: ""
    position: absolute
    bottom: 6px
    left: 50%
    display: block
    background: $primary
    border-radius: 50%
    +size(4px)
    +transform(translateX(-50%))

.event-listing-title
  padding: $spacing 0
  background: $lightestGray
  border-bottom: 1px solid $borderColor

.event-item
  padding: $spacing
  border-bottom: 1px solid $borderColor

  &:last-child
    border: none

  .event-item-name
    float: left

  .event-details
    +clearfix

  .event-item-date
    float: right

@media screen and (max-width: 1024px)

  .calendar-container
    float: none
    width: 100%
    margin: 0 0 $spacing-lg
    +clearfix

  .clndr
    min-height: 330px
    max-height: 370px
    height: auto
    overflow: scroll
    +clearfix

  .calendar
    float: left
    width: 300px

  .event-listing
    float: left
    width: calc(100% - 300px)
    +clearfix

  .event-item

    &:last-child
      border-bottom: 1px solid $borderColor

@media screen and (max-width: 700px)

  .calendar-container
    width: 300px
    margin: 0 auto 20px

  .calendar, .event-listing
    float: none

  .event-listing
    width: 100%

  .event-item

    &:last-child
      border-bottom: none

  .clndr
    min-height: initial
    max-height: initial
