// header.sass

header
  position: relative
  background: $white
  padding: 20px 0
  border-bottom: 1px solid $borderColor
  +clearfix

  &.app-header
    padding: 23px 20px 20px 80px

    .logo
      position: absolute
      top: 50%
      left: 20px
      +size(40px)
      background-image: url(../images/notre_dame_logo.svg)
      background-size: 100%
      border-radius: 50%
      background-position: 50%
      background-repeat: no-repeat
      background-color: white
      +transform(translateY(-50%))

  ul
    float: right

    li
      float: left
      margin: 0 30px 0 0

      &:last-child
        margin: 0

.nav-icon
  height: 24px
  display: none

@media screen and (max-width: 800px)

  .nav-icon
    display: block

  .nav-text
    display: none

@media screen and (max-width: 500px)
  .school-name
    display: none
