// _tables.sass

table
  width: 100%

th, td
  padding: $spacing
  text-align: left

th
  font-family: "Avenir Next LT Pro Bold"

td
  position: relative
  border-top: 1px solid $borderColor
  +clearfix

  .fa-star-o, .fa-star
    position: absolute
    top: 50%
    left: 50%
    +transform(translateY(-50%) translateX(-50%) scale(1))
    +transition(all, $transitionTiming)
    +transform-origin(center)

    &.hide
      +transform(scale(0))
      z-index: -1

    &.show
      z-index: 1

  .fa-star
    color: $yellow

@media screen and (max-width: 1200px)

  table, tr
    background: $borderColor

  table, thead, tbody, th, td, tr
    display: block

  thead, tbody, th, td
    background: $white

  thead tr
    position: absolute
    top: -9999px
    left: -9999px

  tr
    padding: 0 0 $spacing-xl

    &:last-child
      padding: 0

  td
    padding: $spacing $spacing-lg
    border-top: none

  td .fa-star-o, td .fa-star
    right: 20px
    left: auto
    +transform(translateY(-50%) translateX(0))

  td:before
    float: left
    font-family: "Avenir Next LT Pro Bold"

  td:before
    content: attr(data-title)


  .td-content
    float: right
    text-align: right

@media screen and (max-width: 550px)

  td:before
    float: none

  .td-content
    float: none
    text-align: left
    display: block

  td.favorite
    .td-content
      height: 25px

      .fa-star, .fa-star-o
        right: auto
        left: 20px
        +transform(translateX(0) translateY(0))
