// _dashboard.sass

.hero-container
  margin: -$spacing-lg
  padding: $spacing-lg $spacing-lg $spacing-xl
  background-size: cover
  background-repeat: no-repeat

.announcements
  padding: $spacing-lg
  background: $white

  +clearfix

  i
    position: absolute
    top: $spacing-xl - 1
    left: $spacing-xl

  h3
    margin: 1px 0 0 30px

.job-listings
  background: $white
