// _dashboard.sass

.hero-container
  margin: -$spacing-lg - 1
  padding: $spacing-lg $spacing-lg $spacing-xl
  background-size: cover
  background-repeat: no-repeat


.announcements
  padding: $spacing-lg
  background: $white

  +clearfix

  i
    position: absolute
    top: $spacing-xl - 1
    left: $spacing-xl

  h3
    margin: 1px 0 0 30px

.job-listings
  background: $white

.reporting, .messages
  float: right
  width: calc(100% - 320px)

.messages

  .message-title
    margin: 0 5px 0 0

  li
    padding: $spacing-lg

    p
      margin: 5px 0 0
      opacity: .8

@media screen and (max-width: 1024px)

  .reporting, .messages
    float: none
    width: 100%

@media screen and (max-width: 600px)

  .hero-container
    padding: 0
    margin: 0

@media screen and (max-width: 550px)

  .announcements i
    top: 19px
    left: 20px

  .reporting
    margin: 0 0 40px
