#sidebar
  .nav
    ul
      li.active
        a href="/" Dashboard
      li
        a href="/" My Profile
      li
        a href="/" Off Campus Jobs
      li
        a href="/" On Campus Interviews
  #treeview
    ul
      li
        a href="/" Root node
        ul
          li
            a href="/" Child node
          li
            a href="/" Child node

            ul
              li
                a href="/" Some other node
.content
  | Some content goes here
