#sidebar.wide.filters
  i.fa.fa-reorder.menu-toggle.primary-font
  a.btn.primary-light.pill href="../dashboard" Back to dashboard
  .filter-group
    .filter-header
      h3 Filter Header
      span.add-new.fa.fa-plus
    ul
      li.accent-background-bordered
        span.state MA -
        span.company Boston Metro
        span.remove.fa.fa-times-circle-o
      li.accent-background-bordered
        span.state OH -
        span.company COTA Driver
        span.remove.fa.fa-times-circle-o
  .filter-group
    .filter-header
      h3 Filter Header
      span.add-new.fa.fa-plus
    ul
      li.accent-background-bordered
        span.state MA -
        span.company Boston Metro
        span.remove.fa.fa-times-circle-o
      li.accent-background-bordered
        span.state OH -
        span.company COTA Driver
        span.remove.fa.fa-times-circle-o
  .btn-group.two-btns.round
    a.btn.btn-light Save Filters
    a.btn.btn-light My saved
  .filter-group
    .filter-header
      h3 Show Jobs
    .checkbox
      input type="checkbox"
      label Current Only
    .checkbox
      input type="checkbox"
      label My Class Year
    .checkbox
      input type="checkbox"
      label Include OCR
.content.wide-sidebar
  section.panel
    .panel-header.has-input
      i.fa.fa-newspaper-o.lead-icon
      h2.bold Job Listings
      .search
        input type="text" placeholder="Search"
        button.btn.primary-background Search
    table
      col width="5%"
      thead
        tr
          th
          th Title
          th Deadline
          th Location
          th Industry
      tbody
          tr
            td.favorite data-title="Favorite"
              span.td-content
                i.fa.fa-star-o
                i.fa.fa-star.hide
            td.title data-title="Title"
              a href="../job-description"
                span.td-content
                  span.accent-font.bold Program Manager
                  .company
                    | Business Talent Group LLC
            td.deadline data-title="Deadline"
              span.td-content
                .date.bold 02/23/2015
                span.time 11:59 P.M.
            td.location data-title="Location"
              span.td-content
                .state.bold Ohio
                span.city Columbus
            td data-title="Industry"
              span.td-content
                .industry.bold Technology Conputer/Software
                span.info
          tr
            td.favorite data-title="Favorite"
              span.td-content
                i.fa.fa-star-o
                i.fa.fa-star.hide
            td.title data-title="Title"
              span.td-content
                span.accent-font.bold Program Manager
                .company
                  | Business Talent Group LLC
            td.deadline data-title="Deadline"
              span.td-content
                .date.bold 02/23/2015
                span.time 11:59 P.M.
            td.location data-title="Location"
              span.td-content
                .state.bold Ohio
                span.city Columbus
            td data-title="Industry"
              span.td-content
                .industry.bold Technology Conputer/Software
                span.info
          tr
            td.favorite data-title="Favorite"
              span.td-content
                i.fa.fa-star-o
                i.fa.fa-star.hide
            td.title data-title="Title"
              span.td-content
                span.accent-font.bold Program Manager
                .company
                  | Business Talent Group LLC
            td.deadline data-title="Deadline"
              span.td-content
                .date.bold 02/23/2015
                span.time 11:59 P.M.
            td.location data-title="Location"
              span.td-content
                .state.bold Ohio
                span.city Columbus
            td data-title="Industry"
              span.td-content
                .industry.bold Technology Conputer/Software
                span.info
          tr
            td.favorite data-title="Favorite"
              span.td-content
                i.fa.fa-star-o
                i.fa.fa-star.hide
            td.title data-title="Title"
              span.td-content
                span.accent-font.bold Program Manager
                .company
                  | Business Talent Group LLC
            td.deadline data-title="Deadline"
              span.td-content
                .date.bold 02/23/2015
                span.time 11:59 P.M.
            td.location data-title="Location"
              span.td-content
                .state.bold Ohio
                span.city Columbus
            td data-title="Industry"
              span.td-content
                .industry.bold Technology Conputer/Software
                span.info
          tr
            td.favorite data-title="Favorite"
              span.td-content
                i.fa.fa-star-o
                i.fa.fa-star.hide
            td.title data-title="Title"
              span.td-content
                span.accent-font.bold Program Manager
                .company
                  | Business Talent Group LLC
            td.deadline data-title="Deadline"
              span.td-content
                .date.bold 02/23/2015
                span.time 11:59 P.M.
            td.location data-title="Location"
              span.td-content
                .state.bold Ohio
                span.city Columbus
            td data-title="Industry"
              span.td-content
                .industry.bold Technology Conputer/Software
                span.info
    .panel-footer
      .btn-group.rounded
        button.btn.btn-light.active  35,000 Found
        button.btn.btn-light 22 Favorites
        button.btn.btn-light 2 Applications
      .btn-has-label.right-button
        span.btn-label Sort:
        a.btn.btn-bold.right-button href="#" Posted
